REPO_NAME=
BASE_IMAGE=steamcmd:latest
VERSION_TAG=
CONTAINER_NAME=dragonwilds
PORT_RANGE=7777-7778
SERVER_ID=
SERVER_NAME=
SERVER_ADMIN_PASSWORD=
SERVER_OWNER_ID=
WORLD_NAME=
WORLD_PASSWORD=
LOCAL_MOUNT_PATH=/gameservermounts